---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🚩 Welcome to idktheflag</h1>
			<p>
				We are a CTF (capture the flag) team comprised of high school and university students. 
				With strong members across every category, we aim to become a top10 team globally. On this site we share our writeups, research and projects. Very cool!
			</p>
			
			<h2>What is this site useful for anyway?</h2>
			<ul>
				<li>
					<strong>📚 <a href="/docs/">Documentation & Guides</a></strong> - We write guides and documentation on stuff people would just throw a textbook at you for. But it doesn't count as a textbook if it's on a cool website, right?
				</li>
				<li>
					<strong>✍️ <a href="/blog/">Blog & Writeups</a></strong> - Did we mention we're a CTF team? Because we're a CTF team, and to prove we know what we're doing we do writeups too! Take that [most other top teams]!
				</li>
				<li>
					<strong>🎓 Knowledge Sharing</strong> - Yeah we don't have a link or page for this one yet, but feel free to contact our members if you're the studious kind. We like those kind of guys.
				</li>
			</ul>

			<h2>Our Focus Areas</h2>
			<ul>
				<li><strong>CTF:</strong> We compete frequently and apply all of those buzzwordy skills you hear Linkedin nerds flex, but we're actually good.</li>
				<li><strong>Tools:</strong> Our leadership includes a few lazy guys who would rather spend 100 hours developing a tool than spending 15 minutes manually solving a chall.</li>
				<li><strong>AI:</strong> We do some AI research.</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
